# App
.env
build/*

# IDEs
.idea/*

## VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Operational System
.DS_Store
._*

# Package manager
yarn-error.log
node_modules/*

uploads/*
!uploads/.gitkeep
